<h1>Sign Up</h1>

<div id="register">
    <p>Please fill this to register</p>
    <form action="/users/signup" method="POST">
        <input type="text" name="email" placeholder="Enter your Email" required>
        <input type="password" name="password" placeholder="Enter your Password" required>
        <input type="text" name="name" placeholder="Enter your Name" required>
        <button type="submit">Sign Up</button>
    </form>
</div>

